body {
    background-color: rgb(201,100,73);
}

h1 {
    font-size: 52px;
}

h1, h2 {
    text-shadow: 2px 2px black;
}

h1, h2, p, h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
}

nav, .homeTable, td {
    text-align: center;
}

table, td, th {
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
}

.homeTable {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: large;
    font-family: Arial;
}

.homeTable th {
    width: 33%;
}

th {
    background-color: rgb(68,180,138);
    color: white;
}

.TablePics {
    max-width: 100%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(201,100,73, 0.5);
}

tr {
    background-color: white;
}

.altRow {
    background-color: rgb(201, 201, 201);
}

.victoryImg {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

p {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.regieleki {
    background-color: rgb(250,224,120);
}

.urshifurs {
    background-color: rgb(214,120,115);
}

.togekiss {
    background-color: rgb(244,189,201);
}

.nidoqueen {
    background-color: rgb(193,131,193);
}

.mimeg {
    background-color: rgb(250,146,178);
}

.dedenne {
    background-color: rgb(250,224,120);
}

.info {
    display: flex;
    justify-content: center;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.overview h2, h3, p {
    color: black;
    text-shadow: none;
    text-align: left;
}

.infoPic {
    max-width: 50%;
}

.statsPic {
    width: 25%;
}

.build {
    display: flex;
    justify-content: space-around;
}

.pokemonHeader {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    color: black;
    text-shadow: none;
}

.build {
    align-content: flex-start;
}

.pokemonTable {
    margin-left: 0%;
    margin-right: 0%;
    width: 30%;
    font-family: 'Courier New';
}

.pokemonCustom {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pkmnParagraph {
    border: solid black 2px;
    border-radius: 30%;
    padding: 5%
}

.regiParagraph {
    background-color: #e4bb36;
}

.urshifuParagraph {
    background-color: #3B6197;
    color: white;
}

.togekissParagraph {
    background-color: white;
    color: black;
}

.nidoqueenParagraph {
    background-color: #658DAF;
    color: white;
}

.mimeParagraph {
    background-color: #A4D5E2;
    color: black;
}

.dedenneParagraph {
    background-color: #EDBC60;
    color: black;
}

#homeParagraph {
    border: solid black 2px;
    background-color: #D8EDE9;
}

.moveCell {
    width: 50%;
}

.links {
    display: flex;
    justify-content: flex-start;
}
