h1, h2 {
    display: flex;
    justify-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table th {
    width: 33%;
}

table td {
    text-align: center;
}
